test.http
# Pyhon byte-compiled / optimized files
__pycache__/
*.py[cod]

# VSCode
.vscode

/src/test.py
/test_file.txt
/Lib
/Scripts
/ioc_feeds/migrations/0001_initial.py
dummy-data.json
pyvenv.cfg

test.http